:ruby
  users = User.all
  # users.attach label: "#{id} - #{number} - #{address}"
  transactions = Transaction.all(order: [:sms_id.desc])

%h1 Seed

%pre
  = Wallet.seed

%h1 Users (#{User.count})

- for user in users
  %div
    =# user.label
    -# #{"#{user.id} - #{user.number} - #{user.address}"}
    #{"id: #{user.id} - number: #{user.number} - address: #{user.address || "problem?"}"}

    - data_delete = "User.get(#{user.id}).destroy"
    -# %a{ href: "/", :"data-execute" => data_delete } DELETE
    %form{ action: "/admin/data_delete", method: "post", style: "display: inline-block" }
      %input{ type: "hidden", name: "data_execute", value: data_delete }
      %input{ type: "submit", value: "del"  }
      -# %submit del


%h1 Transactions (#{Transaction.count})

%p last transaction: #{Transaction.last_sms_id || "none"}

%p (received messages?)

- for transaction in transactions
  = transaction


